@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Configurações iniciais */

:root {

    /* Cores principais */
    --main-color: hsl(3, 95%, 50%);
    --dark-color: hsl(3, 95%, 35%);
    --darker-color: hsl(3, 95%, 20%);

    /* Fundos */
    --dark-bg: hsl(270, 70%, 10%);
    --bg: hsl(270, 70%, 15%);
    --light-bg: hsl(270, 70%, 20%);
    --lighter-bg: hsl(270, 70%, 25%);

    /* Texto */
    --highlight-text: hsl(0, 0%, 95%);
    --text: hsl(0, 0%, 70%);

    /* Gradientes */
    --btn-gradient: linear-gradient(to bottom right,
            var(--main-color),
            var(--dark-color));
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    min-height: 100vh;

    background: var(--dark-bg) url("../images/background.png") fixed;
    backdrop-filter: blur(10px);

    color: var(--text);
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

.desfoque {
    filter: brightness(0.5);
}

:focus-visible {
    outline: 2px solid var(--main-color);
    outline-offset: 2px;
}





/* Cabeçalho */

header {
    padding: 15px 15px 15px 20px;

    border-bottom: 2px solid var(--light-bg);

    background: var(--dark-bg);

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 9999;
}

#logo img {
    max-height: 55px;
}


/* Barra de navegação */

#navbar ul {
    list-style: none;

    display: flex;
}

#navbar a {
    padding: 15px;

    color: white;

    display: block;

    transition:
        color 0.1s ease,
        background-color 0.1s ease;
}

#navbar a:hover {
    color: var(--main-color);
}

#navbar a:focus-visible {
    background-color: var(--main-color);
}

#btn-menu {
    border: none;

    background: transparent;

    color: white;
    font-size: 2em;

    display: none;
}

#btn-menu:hover {
    cursor: pointer;
}





/* Área principal */

main {
    width: min(97.5%, 1200px);

    margin: 0 auto;
    padding: 20px 0;

    align-self: center;
    flex: 1;
    gap: 30px;

    display: flex;
    flex-direction: column;

    transition: filter 0.2s linear;
}

section {
    padding: 20px;

    border-radius: 12px;

    background: var(--dark-bg);
}

section h1 {
    color: var(--highlight-text);
    font-size: 2.5rem;
    line-height: 1;
}

section>h2 {
    padding: 20px 0 40px;
}

h2 {
    color: var(--highlight-text);
    text-align: center;
    font-size: 2.125rem;
}


/* Seção hero */

#hero {
    align-items: center;
    gap: 50px;

    display: grid;
    grid-template: auto / repeat(2, 1fr);
}

#textos-hero {
    align-items: flex-start;
    gap: 30px;

    display: flex;
    flex-direction: column;
}

#funcao-empresa {
    padding: 5px 10px;

    border-radius: 8px;

    background: white;

    color: black;
    font-size: 1.125rem;
}

#descricao-hero {
    padding-right: 50px;
}

#botoes-hero {
    display: flex;
    gap: 30px;
}

.btn-hero-wrapper {
    padding: 2px;

    border-radius: 1000px;

    background: var(--btn-gradient);
}

.btn-hero {
    padding: 15px 10px;

    border-radius: 1000px;

    background: var(--light-bg);

    color: white;
    font-size: 1.25rem;

    display: block;

    transition: background 0.1s ease, box-shadow 0.1s ease;
}

.btn-hero:hover,
.btn-hero:focus-visible {
    background: transparent;

    box-shadow:
        0 0 25px hsl(from var(--main-color) h s l / 50%),
        0 0 25px hsl(from var(--dark-color) h s l / 50%);
}


/* Vídeo da equipe */

.video-equipe {
    width: min(100%, 100%);
    margin: 0 auto;
}

.video-equipe h2 {
    padding: 10px 0 20px 0;

    display: none;
}

.video-equipe iframe {
    width: 100%;

    border: 0;
    border-radius: 12px;

    aspect-ratio: 16 / 9;
}


/* Seção serviços */

#servicos {
    gap: 20px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
}

#servicos h2 {
    grid-column: 1 / -1;
}

.servico {
    padding: 50px 10px;

    border: 1.5px solid var(--main-color);
    border-radius: 12px;

    background: var(--bg);

    justify-items: center;
    gap: 30px;

    display: grid;
    grid-template-rows: 2fr 1fr;

    scroll-margin-top: calc(115px + 2.125rem);
}

.servico:hover,
.servico:focus-visible {
    border: none;

    background: var(--btn-gradient);
}

.servico svg {
    width: 100px;
    height: auto;

    color: var(--main-color);

    align-self: end;
}

.servico:hover svg,
.servico:focus-visible svg {
    color: var(--bg);
}

.servico h3 {
    color: var(--highlight-text);
    text-align: center;
    font-size: clamp(1.125rem, 1vw + 0.5rem, 1.5rem);
    font-weight: normal;
}

.servico:hover h3,
.servico:focus-visible h3 {
    color: var(--bg);
}


/* Seção projetos */

#projetos-container {
    width: 97.5%;
    margin: 0 auto;

    position: relative;
}

#carrossel-projetos {
    width: 100%;

    border-radius: 12px;

    overflow-x: hidden;
}

.faixa-projetos {
    display: flex;

    transition: transform 0.2s ease;
}

.prev-btn {
    left: 0;
    top: 50%;

    transform: translate(-50%, -50%);
}

.next-btn {
    right: 0;
    top: 50%;

    transform: translate(50%, -50%);
}

.projeto {
    width: 100%;
    flex-shrink: 0;
}

.projeto img {
    width: 100%;
    height: auto;

    display: block;
}

.prev-btn,
.next-btn {
    width: 40px;
    height: 40px;

    border: 1px solid var(--main-color);
    border-radius: 50%;

    color: white;
    background: var(--bg);

    position: absolute;
    z-index: 2;
}

.prev-btn:hover,
.prev-btn:focus-visible,
.next-btn:hover,
.next-btn:focus-visible {
    background: var(--main-color);
}


/* Seção valores */

#valores-container {
    width: 97.5%;
    margin: 0 auto;

    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: repeat(4, 1fr);
}

.valor {
    height: 200px;
    margin-right: -10px;
    padding-left: 2%;

    background: var(--btn-gradient);

    color: white;
    font-size: 1.5rem;

    align-items: center;
    flex: 1;
    justify-content: center;

    display: flex;

    position: relative;

    clip-path: polygon(90% 0,
            100% 50%,
            90% 100%,
            0% 100%,
            10% 50%,
            0% 0%);
}

.valor::before {
    content: "";

    inset: 3px;

    background: var(--dark-bg);

    clip-path: inherit;

    position: absolute;
    z-index: -1;

    transition: background 0.1s ease;
}

.valor:hover::before,
.valor:focus-visible::before {
    background: transparent;
}


/* Seção equipe */

#equipe-container {
    position: relative;
}

#carrossel-equipe {
    width: 100%;

    display: flex;

    overflow-x: hidden;
}

.faixa-equipe {
    display: flex;
    gap: 30px;

    transition: transform 0.2s ease;
}

#carrossel-equipe:hover .membro {
    filter: grayscale(100%);
}

#carrossel-equipe:hover .membro:hover {
    filter: grayscale(0%);
}

.membro {
    width: 225px;

    text-align: center;

    flex-shrink: 0;

    display: flex;
    flex-direction: column;

    transition: filter 0.2s ease;
}

.membro img {
    width: 100%;
    height: auto;

    border: 2px solid var(--main-color);
    border-radius: 50%;

    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: top center;
}

.nome-membro {
    margin-top: 20px;

    color: var(--main-color);
    font-size: 1.75rem;
    font-weight: bold;
}


/* Seção contato */

#contato {
    align-items: center;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#info-contato {
    height: 80%;

    border-radius: 12px 0 0 12px;

    background: var(--main-color);

    color: var(--highlight-text);
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#info-contato h2 {
    padding-bottom: 20px;
}

#info-contato ul {
    margin-left: 50px;
    list-style: none;
}

#info-contato li {
    line-height: 3;
}

#info-contato a {
    color: white;
}

#contato form {
    width: 100%;
    padding: 20px;

    border: 1px solid var(--main-color);
    border-radius: 12px;

    background: var(--bg);
    box-shadow: 0 0 25px hsl(from var(--main-color) h s l / 25%);

    gap: 20px;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}

#contato label {
    margin-bottom: 10px;

    color: var(--highlight-text);
    font-size: 1.5rem;
    font-weight: bold;

    display: block;
}

#contato input,
#contato textarea {
    width: 100%;
    padding: 10px;

    border: 2px solid var(--lighter-bg);
    border-radius: 12px;

    background: var(--light-bg);

    color: white;
    font-size: 1.5rem;
}

#contato textarea {
    resize: none;
}

#contato button {
    padding: 15px 20px;

    border: 1px solid var(--main-color);
    border-radius: 10px;

    background: var(--light-bg);

    color: white;
    font-size: 1.25rem;

    justify-self: end;
}

#contato button:hover,
#contato button:focus-visible {
    background: var(--btn-gradient);
}





/* Media Queries */

@media (max-width: 768px) {
    /* Menu hambúrguer */

    #btn-menu {
        display: inline-block;
    }

    #navbar {
        width: 75%;
        height: calc(100vh - 100%);
        padding-left: 20px;

        background: var(--bg);

        position: absolute;
        top: 100%;
        right: 0;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transition: opacity 0.2s linear;
    }

    #navbar.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    #menu {
        flex-direction: column;
    }


    /* Seção hero */

    #hero {
        padding: 50px 20px;

        gap: 50px;

        display: grid;
        grid-template: auto / 1fr;
    }

    #textos-hero {
        text-align: center;

        align-items: center;
    }


    /* Vídeo da equipe */

    .video-equipe h2 {
        display: block;
    }

    #descricao-hero {
        width: 80%;
        padding: 0;
    }

    #botoes-hero {
        margin-top: 30px;
    }


    /* Seção servicos */

    #servicos {
        grid-template-columns: repeat(2, 1fr);
    }

    .servico {
        padding: 30px 10px;
    }

    .servico h3 {
        font-size: 1.5rem;
    }


    /* Seção projetos */

    #projetos-container {
        width: 100%;
    }


    /* Seção valores */

    #valores-container {
        row-gap: 20px;

        grid-template-rows: repeat(2, 200px);
        grid-template-columns: repeat(2, 1fr);
    }


    /* Seção contato */

    #contato {
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, max-content);
    }

    #info-contato {
        width: 95%;
        height: 100%;
        padding: 30px 0;

        border-radius: 0 0 12px 12px;

        text-align: center;

        order: 2;
    }

    #info-contato ul {
        margin: 0;
    }

    #contato button {
        border: none;

        background: var(--btn-gradient);

        justify-self: stretch;
    }
}

@media (max-width: 480px) {
    /* Seção servicos */

    #servicos {
        grid-template-columns: 1fr;
    }


    /* Seção valores */

    #valores-container {
        justify-items: center;

        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
    }

    .valor {
        width: min(100%, 350px);
        height: 350px;
        margin: 0;
        padding: 20px;

        font-size: 2rem;

        clip-path: polygon(100% 0,
                100% 95%,
                50% 100%,
                0% 95%,
                0% 0%,
                50% 5%);
    }


    /* Seção equipe */

    .carrossel-wrapper {
        animation-duration: 20s;
    }
}





/* Animações */

@keyframes girar {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}